os:
  - linux
sudo: false
addons:
  apt:
    # Flutter depends on /usr/lib/x86_64-linux-gnu/libstdc++.so.6 version GLIBCXX_3.4.18
    sources:
      - ubuntu-toolchain-r-test # if we don't specify this, the libstdc++6 we get is the wrong version
    packages:
      - libstdc++6
      - fonts-droid-fallback
before_script:
  - git clone https://github.com/flutter/flutter.git -b beta
  - ./flutter/bin/flutter doctor

  # TODO: Remove when flutter_webview_plugin with drawers and js channels gets merged to master
  - cd vendor
  - git clone https://github.com/ivanasen/flutter_webview_plugin.git
  - cd flutter_webview_plugin
  - git checkout javascript-channels-drawers-merge
  - cd ../../
script:
  - ./flutter/bin/flutter test
cache:
  directories:
    - $HOME/.pub-cache